<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/res/js/jquery-1.11.3.min.js}" rel="stylesheet"/>
</head>
<!--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<body>
<div>Hello  <span style="color: red;" th:text="${tUsers.userName}"></span>  !</div>
<!--<p th:text="${tUsers.userId}"></p>-->
<!--<p th:text="${tUsers.userName}</p>-->
<!--<p th:text="${tUsers.userPassword}"></p>-->
<!--<p th:text="${tUsers.userEmail}"></p>-->
</body>
</html>